<!-- <div class="aerial"></div> -->
<!-- <div id="sketch-holder">
      Our sketch will go here!
    </div> -->
<!-- <div class="detail">
	<div class="magnifier-preview" id="previewBefore"></div>
	<div class="magnifier-preview" id="previewAfter"></div>
</div> -->

<div id="attribute">
	<p>map data: Google Earth</p>
</div>

<div id="instructions" ng-hide="clickCount > 0">
	<p>Use the slider at the bottom of the screen to see how urban sprawl has changed the landscape. <br>
You can zoom in and zoom out using the controls to the right and pan within the current landscape pane.</p>
</div>

<div id="info" ng-hide="clickCount === 0" ng-click="resetClickCount()">
  <img src="images/info_icon.png"></div>
</div>

<div id="comparison">
  <figure>
    <div id="divisor"></div>
  </figure>
  <input type="range" min="0" max="100" value="50" id="slider" oninput="moveDivisor()">
</div>




<script>
var divisor = document.getElementById("divisor"),
slider = document.getElementById("slider");
function moveDivisor() { 
	divisor.style.width = slider.value+"%";
}

</script>