<!-- <div class="flex-grid"> -->
  <div id="instruction-container">
  	
  	<div class="Aligner">
  		<!-- <div class="Aligner-item Aligner-item--top">…</div> -->
  			<div class="Aligner-item">
  				<p>Between the years of 1940 and 2016, McLean County’s population has
grown from 74,000 to over 170,000. Most of that growth took place in
Bloomington and Normal. Urban sprawl, the outward growth of cities,
has paved over large tracts of fertile farmland. Population is not likely to
decrease any time soon, so McLean County farmers are always working on
how to produce more crops on less land. </p>
			<p>Although urban sprawl is largely due to new houses or businesses being
built, it isn’t the only reason. In the following images you’ll see state and
interstate highways have used up a lot of McLean County farmland as well.
Highway interchanges and ramps can easily span 100 acres.</p>

	<div class="instruction-button" ui-sref="tiles">CONTINUE</div>


  			</div>





  		<!-- <div class="Aligner-item Aligner-item--bottom">…</div> -->
	</div>

  </div>
<!-- </div> -->
